# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
_posts/2015-02-26-flake-it-till-you-make-it.md

_posts/2015-01-04-first-post.md

_posts/2015-02-28-test-markdown.md

_posts/2017-12-10-welcome-to-our-wedding-party.md
